# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
server/venv/
server/env/
server/build/
server/dist/
server/downloads/
server/eggs/
server/.eggs/
server/lib/
server/lib64/
server/parts/
server/sdist/
server/var/
server/wheels/
server/*.egg-info/
server/.installed.cfg
server/*.egg
server/db.sqlite3

# React
client/node_modules/
client/.pnp
client/.pnp.js
client/coverage/
client/build/
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 